{% extends 'AppProductBundle:ProductType:layout.html.twig' %}

{% block actions_main %}

        <table id="datatable" class="table table-bordered table-striped"
            data-entity-list-route="{{ path('backend_product_type_datatables') }}"
           >
            <thead>
            <tr>
                <th class="col-md-1"></th>
                <th class="col-md-1">#</th>
                <th class="col-md-6">{{ 'name'|trans({}, 'Common') }}</th>
                <th class="col-md-6">{{ 'type'|trans({}, 'Common') }}</th>
            </tr>
            </thead>
            {% if entities %}
            <tbody>
            {% for entity in entities %}
                {% set link = path('backend_settings_custom_product_type_show', {id: entity.id}) %}
                <tr data-id="{{ entity.id }}">
                    <td><input type="checkbox" id="product_type_{{ entity.id }}"></td>
                    <td><a href="{{ link }}">{{ entity.id }}</a></td>
                    <td><a href="{{ link }}">{{ entity.name }}</a></td>
                    <td>{{ entity.type }}</td>
                </tr>
            {% endfor %}
            </tbody>
            {% endif %}
        </table>

{% endblock %}

{% block user_js %}
    <script type="text/javascript" src="{{ asset('tabletools/js/ZeroClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('tabletools/js/TableTools.js') }}"></script>
    <script type="text/javascript" src="{{ asset('tabletools/js/paging.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/appbackend/js/table.js') }}"></script>
    
    <script type="text/javascript">
        var inputIdPrefix = 'product_type_';
        $(document).ready(function() {
            $('input[id^="'+inputIdPrefix+'"]').change(function(e) {
                var $input = $(e.target);
                var checkboxId = $input.attr('id');

                if ($input.is(':checked')) {
                    var rowId = $input.parents('tr').data('id');

                    $('input[id!="'+checkboxId+'"][id^="'+inputIdPrefix+'"]').each(function() {
                        $(this).attr('disabled', true);
                    });

                    $('li[class*="crud"]').each(function(){
                        var href = $(this).attr('id')+'/';
                        $(this).removeClass('disabled');
                        $(this).children('a').attr('href', href+rowId);
                    })
                }
                else {
                    $('input[id!="'+checkboxId+'"][id^="'+inputIdPrefix+'"]').each(function() {
                        $(this).removeAttr('disabled');
                    });

                    $('li[class*="crud"]').each(function(){
                        var href = $(this).attr('id')+'/';
                        $(this).addClass('disabled');
                        $(this).children('a').removeAttr('href');
                    })
                }
            });
        });
    </script>
{% endblock %}