{% block company_autocomplete_widget %}
    <div class="company-autocomplete">
        <div {{ block('widget_container_attributes') }}>
            <ul id="{{ id ~ '_list' }}" class="list-unstyled"></ul>
            <input type="text" id="{{ id ~ '_autocomplete' }}" />
        </div>
        <script src="{{ asset('bundles/appform/autocomplete_widget_multiple.js') }}" type="text/javascript"></script>
        <script>
            $(document).ready(function() {
                var form_vars = {
                    input: $("#{{ id ~ '_autocomplete' }}"),
                    list: $("#{{ id ~ '_list' }}"),
                    full_name: '{{ full_name }}',
                    choices: {{ choices|json_encode|raw }},
                    value: {{ value|json_encode|raw }}
                };
                AutocompleteWidget.multiple(form_vars);
            });
        </script>
    </div>
{% endblock %}

{% block company_single_autocomplete_widget %}
    <div class="company-autocomplete">
        <div {{ block('widget_container_attributes') }}>
            <ul id="{{ id ~ '_list' }}" class="list-unstyled"></ul>
            <input type="text" id="{{ id ~ '_autocomplete' }}" required="required" />
        </div>
        <script src="{{ asset('bundles/appform/autocomplete_widget.js') }}" type="text/javascript"></script>
        <script>
            $(document).ready(function() {
                var form_vars = {
                    addNew: false,
                    input: $("#{{ id ~ '_autocomplete' }}"),
                    list: $("#{{ id ~ '_list' }}"),
                    full_name: '{{ full_name }}',
                    choices: {{ choices|json_encode|raw }},
                    value: {{ value|json_encode|raw }}
                };
                AutocompleteWidget.class(form_vars);
            });
        </script>
    </div>
{% endblock %}

{% block company_single_not_required_autocomplete_widget %}
    <!--div class="company-autocomplete"-->
    <div class="col-xs-6">
        
        <div {{ block('widget_container_attributes') }}>
            <ul id="{{ id ~ '_list' }}" class="list-unstyled"></ul>
            <input type="text" id="{{ id ~ '_autocomplete' }}" />
        </div>
        <script src="{{ asset('bundles/appform/autocomplete_widget.js') }}" type="text/javascript"></script>
        <script>
            $(document).ready(function() {
                var form_vars = {
                    addNew: false,
                    input: $("#{{ id ~ '_autocomplete' }}"),
                    list: $("#{{ id ~ '_list' }}"),
                    full_name: '{{ full_name }}',
                    choices: {{ choices|json_encode|raw }},
                    value: {{ value|json_encode|raw }}
                };
                AutocompleteWidget.class(form_vars);
            });
        </script>
    </div>
{% endblock %}