{% extends 'AppAccountProductBundle:AccountProduct:layout.html.twig' %}
{% import _self as show %}

{% set nav_title = 'Product overview' %}

{% block actions_main %}
    <div class="action-view">
        <div class="row">
            <div class="col-md-3">
                <div class="left-menu">
                    <ul id="product-tabs" class="left-nav-tabs nav nav-pills nav-stacked">
                        <li><a href="#tab-product-info">Product info</a></li>
                        {% if not entity.price.isEmpty() %}
                            <li><a href="#tab-prices">Prices</a></li>
                        {% endif %}
                        <li><a href="#tab-taxes">Taxes</a></li>
                        {% if entity.canBeOrderedFromSupplier %}
                        <li><a href="#tab-suppliers">Suppliers</a></li>
                        {% endif %}

                        <li><a href="#tab-stocks">Stocks</a></li>

                        {% if entity.buyers|length > 0 %}
                        <li><a href="#tab-buyers">Product exclusive for this buyers</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <h3 id="tab-product-info" class="h3-form">Product info</h3>
                <div class="contact-card">
                    <dl class="dl-horizontal">
                        <dt>Id:</dt>
                        <dd>{{ entity.id }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Product:</dt>
                        <dd>{{ entity.product }}</dd>
                    </dl>
               </div>

                {% if not entity.price.isEmpty() %}
                    {% set price = entity.price %}
                    <h3 id="tab-prices" class="h3-form">Prices</h3>
                    <div class="contact-card">
                        {{ show.optional('List Price', price.listPrice) }}
                        {{ show.optional('Purchase Price', price.purchasePrice) }}
                        {{ show.optional('Sell Price', price.sellPrice) }}
                        {% if price.sellPrice %}
                            {{ show.flag('Dont apply calculations on Sell Price', price.calcOnSellPrice) }}
                        {% endif %}
                        {{ show.optional('Special Price', price.specialPrice) }}
                        {% if price.specialPrice %}
                            {{ show.date('Special Price From Date', price.sppDateFrom) }}
                            {{ show.date('Special Price To Date', price.sppDateTo) }}
                        {% endif %}
                        {% if price.sellPrice %}
                            {{ show.flag('Dont show sell price on front', price.dontShowOnFront) }}
                        {% endif %}
                        {{ show.optional('Employee Commision', price.employeeCommision) }}
                    </div>
                {% endif %}

                <h3 id="tab-taxes" class="h3-form">Taxes</h3>
                <div class="contact-card">
                <dl class="dl-horizontal">
                <dt>Taxable:</dt>
                <dd>{{ entity.isTaxable ? 'Taxable' : 'Not taxable good' }}</dd>
                </dl>
                    {% if entity.taxes|length>0 %}
                        <dl class="dl-horizontal">
                            <dt>Taxes:</dt>
                            <dd>
                                {% for sm in entity.taxes %}

                                    <strong>{{ sm.taxType.name }}:</strong> {{ sm.number }} - rate: {{ sm.taxType.rate*100 }}%<br/>
                                {% endfor %}
                            </dd>
                        </dl>
                    {% endif %}
                </div>


                {% if entity.canBeOrderedFromSupplier %}
                <h3 id="tab-suppliers" class="h3-form">Suppliers</h3>
                <div class="contact-card">
                {{ show.flag('Can be ordered from supplier', entity.canBeOrderedFromSupplier) }}
                {{ show.collection('Suppliers', entity.suppliers) }}
                </div>
                {% endif %}


                <h3 id="tab-stocks" class="h3-form">Stocks</h3>
                <div class="contact-card">
                {{ show.flag('Can Be Stocked', entity.canBeStocked) }}
                {{ show.optional('Sell Qty Unit', entity.sellQtyUnit) }}
                {{ show.flag('Can be delivered', entity.canBeDelivered) }}
                {{ show.optional('Min Qty In Stock', entity.minQtyInStock) }}
                {{ show.optional('Restocking Qty', entity.restockingQty) }}
                <dl class="dl-horizontal">
                <dt>Stock Availability:</dt>
                <dd>{{ entity.stockAvailability ? 'In stock' : 'Out of stock/discontinued' }}</dd>
                </dl>
                <dl class="dl-horizontal">
                <dt>Sell Out Of Stock:</dt>
                <dd>{{ entity.sellOutOfStock ? 'Yes' : 'No' }}</dd>
                </dl>
                </div>


                {% if entity.buyers|length > 0 %}
                <h3 id="tab-buyers" class="h3-form">Product exclusive for this buyers</h3>
                <div class="contact-card">
                {{ show.collection('Buyers', entity.buyers) }}
                </div>
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}

{% block user_js %}
    <script>
        $(document).ready(function() {
            var $navbar = $("#product-tabs");
            var offset = $navbar.offset();
            var $span3 = $navbar.parents('.col-md-3');

            $(window).bind('scroll', function() {
                $navbar.width($span3.width());
                if ($(this).scrollTop() > offset.top) {
                    $navbar.addClass('top-fixed col-md-3');
                }
                else {
                    $navbar.removeClass('top-fixed col-md-3');
                }
            });
        });
    </script>
{% endblock %}

{% macro optional(title, value) %}
    {% if value %}
        <dl class="dl-horizontal">
            <dt>{{ title }}:</dt>
            <dd>{{ value }}</dd>
        </dl>
    {% endif %}
{% endmacro %}

{% macro collection(title, collection) %}
    {% if collection|length > 0 %}
        <dl class="dl-horizontal">
            <dt>{{ title }}:</dt>
            <dd>
                {% for item in collection %}
                    {{ item }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </dd>
        </dl>
    {% endif %}
{% endmacro %}

{% macro flag(title, value) %}
    <dl class="dl-horizontal">
        <dt>{{ title }}:</dt>
        <dd>
            <i class="{{ value ? 'icon-ok' : 'icon-ban-circle' }}"></i>
        </dd>
    </dl>
{% endmacro %}

{% macro date(title, value) %}
    {% if value %}
        <dl class="dl-horizontal">
            <dt>{{ title }}:</dt>
            <dd>{{ value|date('d-m-Y') }}</dd>
        </dl>
    {% endif %}
{% endmacro %}