{% extends 'AppBackendBundle::base.html.twig' %}

{% block bottom %}

    <div class="tab-content">
        <div class="tab-pane active">
            <ul class="nav nav-pills">

                <li class="
                                {% if app.request.attributes.get('_route')|slice(0,15)=='backend_company'%}
                                    active
                                {%endif%}"><a href="{{ path('backend_company') }}">Companies</a></li>


            </ul>
        </div>
    </div>
{% endblock %}

{% block actions%}
    <div class="title-header">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 h3">
                    <h3>Company new</h3>
                </div>
                <div class="col-md-5">
                    <div class="crud-actions">
                        <ul class="nav-crud">
                            <li >
                                <a href="{{ path('backend_company') }}" title="List">
                                    <i class="icon-crud-list"></i>
                                    <div>
                                        <label>List</label>
                                    </div>
                                </a>
                            </li>
                            <li class="active" id="new">
                                <a  title="New">
                                    <i class="icon-crud-new"></i>
                                    <div>
                                        <label>New</label>
                                    </div>
                                </a>
                            </li>
                            <li class="crud disabled" id="show">
                                <a   title="Show">
                                    <i class="icon-crud-show"></i>
                                    <div>
                                        <label>Show</label>
                                    </div>
                                </a>
                            </li>
                            <li class="crud disabled" id="edit">
                                <a title="Edit">
                                    <i class="icon-crud-edit"></i>
                                    <div>
                                        <label>Edit</label>
                                    </div>
                                </a>
                            </li>
                            <li class="crud disabled" id="delete">
                                <a  title="Delete">
                                    <i class="icon-crud-delete"></i>
                                    <div>
                                        <label>Delete</label>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-search">
                        <input type="text" class="form-control">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="action-view">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <form action="{{ path('backend_company_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>

                        
                        {{ form_widget(form) }}
                        <div class="row form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <div class="form-actions well">
                                    <input class="btn btn-primary" type="submit" value="Save">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block user_js %}
    <script src="{{ asset('bundles/appform/form_admin.js') }}" type="text/javascript"></script>
    <script>

        jQuery(document).ready(function() {
            Admin.setup_collections(document);
            if (jQuery('select[id$="_sector"]').find('option[selected="selected"]').length==0) {
                var $speciality = jQuery('input[id*="_specialities"]');

                /**
                 * Disable all needed selects
                 **/

                $speciality.each(function() {
                    $(this).attr('disabled', true);
                })
            }

            var $countryArray = jQuery('select[id$="_country"]');
            var $provinceArray = jQuery('select[id$="_province"]');
            var $regionArray = jQuery('select[id$="_region"]');



            jQuery('select[id$="_country"]').change(function() {

                $parent = jQuery(this).parent().parent();
                $province = $parent.find('select[id$="_province"]');
                $countryId = $(this).find(":selected").attr('value');
                var locale = '{{ app.request.attributes.all["_locale"] }}';
                var baseUri = '{{ app.request.baseUrl }}';
                var host = '{{ app.request.host }}';
                $.ajax({
                    url: 'http://'+host+baseUri+'/'+locale+'/backend/settings/region/ajax_province/countryId='+$countryId
                }).done(function(data) {
                            var options = '';
                            var dataO= data['res'];
                            options += '<option >Choose an option</option>';
                            for (var i = 0; i < dataO.length; i++) {
                                options += '<option value="' + dataO[i]['id'] + '">' + dataO[i]['name'] + '</option>';
                            }
                            $province.html('');
                            $province.html(options);
                            $province.removeAttr('disabled');
                        });
            });

            jQuery('select[id$="_province"]').change(function() {

                $parent = jQuery(this).parent().parent();
                $province = $parent.find('select[id$="_region"]');
                $countryId = $(this).find(":selected").attr('value');
                var locale = '{{ app.request.attributes.all["_locale"] }}';
                var baseUri = '{{ app.request.baseUrl }}';
                var host = '{{ app.request.host }}';
                $.ajax({
                    url: 'http://'+host+baseUri+'/'+locale+'/backend/settings/region/ajax_region/provinceId='+$countryId
                }).done(function(data) {
                            var options = '';
                            var dataO= data['res'];
                            options += '<option >Choose an option</option>';
                            for (var i = 0; i < dataO.length; i++) {
                                options += '<option value="' + dataO[i]['id'] + '">' + dataO[i]['name'] + '</option>';
                            }
                            $province.html('');
                            $province.html(options);
                            $province.removeAttr('disabled');
                        });
            });



            var $speciality = jQuery('input[id*="_specialities"]');
            var $sector = jQuery('select[id$="_sector"]');

            /**
             * Disable all needed selects
             **/




            /**
             * Onchange event
             */

            $sector.change(function() {

                var $sectorId = $(this).find(":selected").attr('value');
                var locale = '{{ app.request.attributes.all["_locale"] }}';
                var baseUri = '{{ app.request.baseUrl }}';
                var host = '{{ app.request.host }}'
                var $url = 'http://'+host+baseUri+'/'+locale+'/backend/settings/industry_speciality/ajax_speciality/sectorId='+$sectorId
                $.ajax({
                    url:$url
                }).done(function(data) {
                            var options = '';
                            var dataO= data['res'];

                            for (var i = 0; i < dataO.length; i++) {
                                options += '<li><label><input id="app_companybundle_companytype_specialities' + dataO[i]['id'] +
                                        '" value="'+dataO[i]['id']+'" type="checkbox" name="app_companybundle_companytype[specialities][]"><span>' +
                                        dataO[i]['name'] + '</span></label></li>';
                            }
                            jQuery('ul[id*="_specialities"]').html('');
                            jQuery('ul[id*="_specialities"]').html(options);
                            $speciality.removeAttr('disabled');
                        });
            });
        });
    </script>
{% endblock %}
