{% extends 'AppBackendBundle::base.html.twig' %}

{% block body -%}
    <h1>PhoneIso</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Prefix</th>
                <td>{{ entity.prefix }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('backend_settings_phoneiso') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
