{% block select_category_widget %}
    <div class="col-xs-6">
        <select {{ block('widget_attributes') }}>
            {% if empty_value is not none %}
                <option value=""{% if required %} disabled="disabled"{% if value is empty %} selected="selected"{% endif %}{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% for choice in choices %}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ '&nbsp;'|repeat(2*(choice.data.level+1))|raw }}{{ choice.label }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

{% block category_tree_widget %}
    <div {{ block('widget_attributes') }}>
        <ul class="list-unstyled">
            {% for child in form %}
                {% set obj = child.vars.label %}
                <li style="padding-left:{{ obj.level * 20 }}px" data-id="{{ obj.id }}" data-parent="{{ obj.parent ? obj.parent.id : '' }}">
                    <label>{{ form_widget(child) }} {{obj.title}}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}